# Build results
a.out
jogo
jogo.exe
CppProperties.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/
.vscode/

# IDE Related Project files
*.sln
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
cpp/projplp-narashogi c++/main.cpp
haskell/Nara Shogi - Haskell/shogi.hi
haskell/Nara Shogi - Haskell/shogi.o
