# Build results
a.out
jogo
jogo.exe
CppProperties.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/
.vscode/

# IDE Related Project files
*.sln
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
cpp/projplp-narashogi c++/main.cpp
haskell/Nara Shogi - Haskell/shogi.hi
haskell/Nara Shogi - Haskell/shogi.o
haskell/Nara Shogi - Haskell/2130a885-a169-4311-8c39-60e384a279b3.hi
haskell/Nara Shogi - Haskell/2130a885-a169-4311-8c39-60e384a279b3.hs
haskell/Nara Shogi - Haskell/2130a885-a169-4311-8c39-60e384a279b3.o
haskell/Nara Shogi - Haskell/shogi.hi
haskell/Nara Shogi - Haskell/shogi.o
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/CHANGELOG.md
haskell/Nara Shogi - Haskell/mintty-master/src/System/Console/MinTTY/Win32.hsc
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/README.md
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/Setup.hi
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/Setup.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/Setup.o
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/ansi-terminal.cabal
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/app/Example.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Codes.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Types.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Unix.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Windows.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Windows/Detect.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Windows/Emulator.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Windows/Foreign.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Console/ANSI/Windows/Emulator/Codes.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/System/Win32/Compat.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/includes/Common-Include.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/includes/Common-Include-Emulator.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/includes/Common-Include-Enabled.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/src/includes/Exports-Include.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/CHANGELOG
haskell/Nara Shogi - Haskell/colour-2.3.5/LICENSE
haskell/Nara Shogi - Haskell/colour-2.3.5/README
haskell/Nara Shogi - Haskell/colour-2.3.5/Setup.lhs
haskell/Nara Shogi - Haskell/colour-2.3.5/Tests.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/colour.cabal
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/CIE.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/Chan.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/Internal.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/Matrix.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/Names.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/RGB.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/RGBSpace.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/SRGB.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/CIE/Chromaticity.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/CIE/Illuminant.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/RGBSpace/HSL.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/RGBSpace/HSV.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/Data/Colour/SRGB/Linear.hs
haskell/Nara Shogi - Haskell/colour-2.3.5/dist/setup-config
haskell/Nara Shogi - Haskell/mintty-master/.gitignore
haskell/Nara Shogi - Haskell/mintty-master/.travis.yml
haskell/Nara Shogi - Haskell/mintty-master/CHANGELOG.md
haskell/Nara Shogi - Haskell/mintty-master/LICENSE
haskell/Nara Shogi - Haskell/mintty-master/README.md
haskell/Nara Shogi - Haskell/mintty-master/Setup.hs
haskell/Nara Shogi - Haskell/mintty-master/appveyor.yml
haskell/Nara Shogi - Haskell/mintty-master/cabal.haskell-ci
haskell/Nara Shogi - Haskell/mintty-master/cabal.project
haskell/Nara Shogi - Haskell/mintty-master/mintty.cabal
haskell/Nara Shogi - Haskell/mintty-master/include/windows_cconv.h
haskell/Nara Shogi - Haskell/mintty-master/include/winternl_compat.h
haskell/Nara Shogi - Haskell/mintty-master/src/System/Console/MinTTY.hs
haskell/Nara Shogi - Haskell/ansi-terminal-0.9/LICENSE
haskell/Nara Shogi - Haskell/shogi.o
haskell/Nara Shogi - Haskell/shogi.hi
